* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, .container {
    height: 100%;
}


.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#board {
    width: 40vh;
    height: 40vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin: 8rem;
}

.board-square {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 2px black;
}

.win-container {
    height: 100vh;
    justify-content: center;
    align-items: center;
}